[user]
	name = Robin Moussu
	email = robin.moussu+git@gmail.com
[push]
	default = simple
[webui]
	autoupdate = true
[alias]
    graph =  log --graph --pretty=format:'%C(auto)%h %aN:%d %s+%+b%+N'
    integrate = "!f() { git merge --no-ff $1~ -m \"$(git log -n1 --pretty=format:%B $1)\"; }; f"

    st = status
    ci = commit -v
    co = checkout
[core]
	pager = less -RFX
